*{margin:0;border-spacing:0;    }
div{
  overflow:scroll;
  width:15vw;
  resize:both;
  border-width:0.5vw;
  border-style: groove;
}
a{border: #00ff00;
  margin: 0.5vw;
  border-style: groove;
  background:#ff0000
}
iframe{
  height:100vh;
  width: 80vw;border :1  ; 
  resize:horizontal;
}